@import "../../vars.css";
@import "../../index.css";

.container {
    margin-top: 30px;
}


/* ---------- SLIDER ---------- */

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

:root {
  --scroll-width: 2000px; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}

.item {
  flex: 0 0 auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
}

.logo {
    width: 85%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.item:hover .logo {
  transform: scale(1.12);
}

.skillName {
  font-size: var(--font-size-small-text);
  color: var(--color-text-dark);
  height: 20px;
  line-height: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}


/* ******** SMALL SCREEN *********** */

@media screen and (max-width: 830px){
    .logo{
        width: 70%;
    }
    .skillItem{
      font-size: var(--font-size-small-text);
    }
}




