@import "../../vars.css";

.container{
    color: var(--color-text-dark);
    margin-top: 50px;
    margin-bottom: 20px;
}
.titleBackground{
    background-color: var(--color-dark);
}
.title {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;

}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
    .logo{
        width: 80%;
    }

@media screen and (max-width: 830px){
    .title{
        font-size: 32px;
        letter-spacing: 1px;
    }
    .logo{
        width: 60%;
    }
    .skill{
        font-size: 14px;
    }
}




