@import "../../vars.css";

.navbar {
    position: relative;
    position: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}