@import "../../vars.css";
@import "../../index.css";

.navbarBg {
  position: sticky;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 0;
  z-index: 50;

  background: linear-gradient(90deg, var(--color-dark), var(--color-secondary));

  backdrop-filter: blur(10px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.navbar {
  margin: 0 10%;
  padding: 14px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: white;
  text-decoration: none;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;

  transition: opacity 0.2s ease;
}

.title:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
  cursor: pointer;
}

.menuItems {
  display: flex;
  gap: 35px;
  list-style: none;
}

.menuItems a {
  color: white;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;

  position: relative;
  transition: 0.3s ease;
}

.menuItems a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;

  background: white;
  transition: width 0.3s ease;
}

.menuItems a:hover::after {
  width: 100%;
}

.menuItems a:hover {
  opacity: 0.85;
}

@media (max-width: 830px) {
  .menuBtn {
    display: block;
  }

  .menuItems {
    position: absolute;
    top: 60px;
    right: 10%;

    flex-direction: column;
    gap: 15px;

    padding: 20px;

    background: linear-gradient(
      180deg,
      var(--color-dark),
      var(--color-secondary)
    );

    border-radius: 12px;

    display: none;
  }

  .menuOpen {
    display: flex;
  }
}
