* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode',  Verdana,  "Roboto Condensed", sans-serif;
}

#About,
#Skills,
#Projects,
#Contact {
  scroll-margin-top: 70px;
}
html{
    scroll-behavior: smooth;

}
