:root{
    /* colors */
    --color-text-dark:#4B5563;
    --color-text-light: #ffff;
    --color-primary: #5dc1b965;
    --color-secondary: #51b5ae;
    --color-dark: #369e97;
    --color-bg: #ffff;

    /* fonts */
    --font-robot: "ucida Grande";

    /* skills */
    --width: 100px;
    --height: 100px;
    --quantity: 9;
}
