@import "../../vars.css";

.cardLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  border-radius: 10px;
  background: var(--color-bg);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 300px;
  margin-bottom: 20px;
  min-height: 440px;
}

.container:hover {
  transform: scale(1.06);
}

.image {
  min-height: 150px;
}

.title {
  font-size: var(--font-size-text);
  font-weight: 700;
}

.description {
  font-size: var(--font-size-small-text);
  font-weight: 400;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
}

.skill {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.list {
  display: flex;
  justify-content: center;
}

.links {
  width: 90%;
  display: flex;
  justify-content: right;
}

.icons:hover {
  transform: scale(1.09);

}


/* ************** SMALL SCREEN */
@media screen and (max-width: 830px) {
  .container {
    max-width: 250px;
    min-height: 300px;
  }

  .title {
    font-size: var(--font-size-small-text);
  }

  .description {
    margin-top: 4px;
    font-size: 10px;
  }

  .image {
    min-height: 100px;
  }

  .skill {
    width: 80%;
  }

  .icons {
    width: 70%;
  }

}