@import "../../vars.css";

.container {
    margin-top: 20px;
    color: var(--color-text);
}
.title {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: var(--font-size-title);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--color-dark);
}
.projectsBackground{
    background-color: var(--color-dark);
}
.projects {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  justify-content: center;
  justify-items: center;
  gap: 15px;
  width: 90%;
}

.pagination {
  color: var(--color-text-light);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.arrow {
  background: var(--color-dark);
  color: var(--color-text-light);
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 10px 15px;
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: scale(1.1);
}
.pageIndicator{
  font-weight: bold;
  margin-top: 15px;
}

/* ******** SMALL SCREEN *********** */

@media screen and (max-width: 830px){
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
    .title{
        font-size: var(--font-size-small-title);
        letter-spacing: 1px;
    }
}