@import "../../vars.css";

.container {
    margin-top: 20px;
    color: var(--color-text);
}
.title {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--color-dark);
}
.projectsBackground{
    background-color: var(--color-dark);
}
.projects {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 90%;
}



/* ******** SMALL SCREEN *********** */

@media screen and (max-width: 830px){
    .title{
        font-size: 32px;
        letter-spacing: 1px;
    }
}