@import "../../vars.css";

.cardLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background: linear-gradient(180deg, #ffff 50%, var(--color-secondary) 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 300px;
  margin-bottom: 50px;
  height: 580px;
}
.container:hover{
  transform: scale(1.06);
}

.image {
  margin-bottom: 26px;
  max-height: 200px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
}
.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.skill{
    width: 70%;
}
.list{
    margin: -5px;
    margin-top: 5px;
}
.links {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: right;
}
.links:hover{
    transform: scale(1.06);

}


/* ************** SMALL SCREEN */
@media screen and (max-width: 830px){
    .container{
        max-width: 250px;
        height: 500px;
    }
    .title {
        font-size: 20px;
        }
        .description {
        margin-top: 4px;
        font-size: 14px;
        }
        .skill{
            width: 60%;
        }
        .icons {
            width: 70%;
        }

        }
