.hero {
  block-size: 250px;

  .heroimg {
    position: absolute;
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .greyBackground {
    position: absolute;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgb(100, 100, 100) 100%
    );
  }

.text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.textLeft,
.textRight {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  flex: 1;              
  min-width: 200px;     
}

.title {
  font-size: var(--font-size-title);
  font-weight: bold;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: var(--font-size-text);
  margin: 0;
  text-align: center;
}

.codeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

  @media (max-width: 1200px) {
    .text {
      gap: 200px;
    }
  }

  @media (max-width: 830px) {
    .text {
      gap: 80px;

      .title {
        font-size: var(--font-size-small-title);
      }

      .subtitle {
        font-size: var(--font-size-small-text);
      }
    }
  }

  @media (max-width: 700px) {
    .text {
      font-size: 8px;
      letter-spacing: 0px;
/*       display: none;
 */    }
  }
}
