.hero {
  block-size: 250px;

  .heroimg {
    position: absolute;
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .greyBackground {
    position: absolute;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgb(100, 100, 100) 100%
    );
  }

.text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.textLeft,
.textRight {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  flex: 1;              
  min-width: 200px;     
}

.title {
  font-size: calc(var(--font-size-title)*1.2);
  font-weight: bold;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: calc(var(--font-size-text)*1.2);
  margin: 0;
  text-align: center;
}


/* .codeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
 */
  @media (max-width: 1200px) {
    .text {
      gap: 200px;
    }
  }

  @media (max-width: 830px) {
    .text {
      gap: 40px;
    }
      .title {
        font-size: calc(var(--font-size-small-title)*1.2);
        letter-spacing: 4px;
      }

      .subtitle {
        font-size: calc(var(--font-size-small-text)*1.2);
      }
  
  }

  @media (max-width: 700px) {
    .text {
      gap: 20px;
     }
  .title {
      letter-spacing: 1 !important;
    }
    .subtitle{
      display: flex;
      text-wrap: wrap;
    }

  }
}
