@import "../../vars.css";
@import "../../index.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}
.title{
    font-size: var(--font-size-title);
    color: var(--color-dark) ;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.description{
    font-size: var(--font-size-text);
    padding-bottom: 20px;
}
.colorText{
    color: var(--color-dark);
    font-weight: 600;
}

.btnsection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.btn{
    margin-left: 0;
}

.socials{
    display: flex;
    align-items: center;
    gap: 15px;
    fill: var(--color-text-dark);
    cursor: pointer;
}
.social:hover {
    transform: scale(1.06);
}
    
.aboutImg{
        width: 25%;
        z-index: 1;
        box-shadow: 0px 6px 10px rgba(0,0,0,1);
        border-radius:150px;
        margin: 30px;

        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
    
}
@media screen and (max-width: 830px){
    .container {
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
    .title{
        font-size: var(--font-size-small-title);
        letter-spacing: 1px;
    }
    .description{
    font-size: var(--font-size-small-text);
    }
    .aboutImg{
        width: 150px;
    }
}



