@import "../../vars.css";

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.titleBackground {
    background-color: var(--color-dark);
}

.title {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: var(--font-size-title);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    font-size: var(--font-size-text);
}
.socials{
    display: flex;
    gap: 10px;
}
.social:hover {
    transform: scale(1.06);
}
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputTitle{
    font-size:var(--font-size-text);
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 8px 20px;
    font-size: var(--font-size-text);
    border: 1px solid var(--color-text-dark);
    border-radius: 8px;
    box-sizing: border-box; 
}

.input:focus {
    border-color: var(--color-secondary);
}


.btn {
    width: fit-content;
    margin-left: auto;
    padding: 14px;
    font-size: var(--font-size-text);
    font-weight: bold;
    background: var(--color-secondary);
    color: var(--color-text-light);
    border-radius: 8px;
    cursor: pointer;
    border-color: var(--color-secondary);
}

.btn:hover {
    background: var(--color-dark);
}
.successMessage{
    font-size: var(--font-size-text);
    font-weight: bold;
}

/* **********SMALL SCREEN */
@media screen and (max-width: 830px){
    .content {
        flex-direction: column;
        font-size: var(--font-size-small-text);

    }
    .title{
        font-size: var(--font-size-small-title);
        letter-spacing: 1px;
    }
    .box{
        width: 100%;
    }
    .inputTitle{
        font-size: var(--font-size-small-text);
}
    .input {
        font-size: var(--font-size-small-text);
    }

    .btn {
        font-size: var(--font-size-small-text);
    }

}
