@import "../../vars.css";
@import "../../index.css";

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    font-size: var(--font-size-text);
}
.socials{
    display: flex;
    gap: 10px;
}
.social:hover {
    transform: scale(1.06);
}
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputTitle{
    font-size:var(--font-size-text);
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 8px 20px;
    font-size: var(--font-size-text);
    border: 1px solid var(--color-text-dark);
    border-radius: 8px;
    box-sizing: border-box; 
}

.input:focus {
    border-color: var(--color-secondary);
}

.successMessage{
    font-size: var(--font-size-text);
    font-weight: bold;
}

/* **********SMALL SCREEN */
@media screen and (max-width: 830px){
    .content {
        flex-direction: column;
        font-size: var(--font-size-small-text);

    }
    .box{
        width: 100%;
    }
    .inputTitle{
        font-size: var(--font-size-small-text);
}
    .input {
        font-size: var(--font-size-small-text);
    }


}
