@import "../../vars.css";

.footer{
    background-color: rgba(128, 128, 128, 0.429);
}
.content{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--color-text-dark);
    display: flex;
    justify-content: center;
    font-size: var(--font-size-text);
}
.content a{
    color: var(--color-text-dark);
}
